<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employer Register</title>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">
    <div class="row">

        <!-- LEFT SIDE FORM -->
        <div class="col-md-5">
            <h4 class="mb-3">Register Employer</h4>

            <div class="card shadow p-4">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                            <input type="hidden" class="form-control" placeholder="Enter ID" name="id"
                                value="{{employees.id}}">
                        </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Enter name" name="name" value="{{employees.name}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Enter email"  name="email" value="{{employees.email}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" placeholder="Enter phone"  name="phone" value="{{employees.phone}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Department</label>
                        <input type="text" class="form-control" placeholder="Enter department"  name="dept" value="{{employees.dept}}">
                    </div>
                    {% if employees.id %}
                        <div class="mb-3">
                            <label>Current Images:</label><br>

                                {% if employees.image %}
                                    <img src="{{ employees.image.url }}" height="70px" width="70px">
                                {% endif %}

                                {% if employees.image2 %}
                                    <img src="{{ employees.image2.url }}" height="70px" width="70px">
                                {% endif %}
                </div>
                    {% endif %}
                    <div class="mb-3">
                            <label class="form-label">Profile</label>
                            <input type="file" class="form-control" name="file">
                    </div>

                    <div class="mb-3">
                            <label class="form-label">side-Profile</label>
                            <input type="file" class="form-control" name="file2">
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Submit
                    </button>

                </form>
            </div>
        </div>

        <!-- RIGHT SIDE TABLE -->
        <div class="col-md-7">
            <h4 class="mb-3">Employer List</h4>

            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Department</th>
                        <th>Image</th>
                        <th>Image2</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Static Data -->
                    {%for employee in employee%}
                    <tr>
                        
                        <td>{{forloop.counter}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.dept}}</td>
                        <td><img src="media/{{employee.image}}" alt="" width="100px" height="100px"></td>
                        <td><img src="media/{{employee.image2}}" alt="" width="100px" height="100px"></td>

                        <td>
                            <a href="{% url 'update'%}?uid={{employee.id}}"
                                    class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'delete'%}?did={{employee.id}}"
                                        onclick="return confirm('Are you sure you want to delete this?');"
                                        class="btn btn-danger btn-sm">Delete</a>

                        </td>
                    </tr>
                    {% endfor %}
                    

                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>