<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Application</title>
</head>
<body>
    <h1>Register Here</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Enter Name " name="name" value="">
        <input type="email" placeholder="Enter Email" name="email" value="">
        <input type="number" placeholder="Enter Age " name="">
    </form>
</body>
</html>